<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SnesGFX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <SnesGFX.Properties.Settings>
            <setting name="Codec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Row" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OrderPalette" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HiQuality" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScaleOption" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OptimizeImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoDuplicate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveImageFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Split" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitItem" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TilemapOutput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PaletteOutput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Transparency" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoFlips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CGADSUB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OffsetTile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OffsetPalette" serializeAs="String">
                <value>0</value>
            </setting>
        </SnesGFX.Properties.Settings>
    </userSettings>
</configuration>
